# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# Test reports
htmlcov/
.tox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover

# Distribution / packaging
build/
dist/
*.egg-info/

# MyPy / Pyright / other type checkers
.mypy_cache/
.pyright/

# FAISS indexes (if using)
*.faiss
*.index
